<% @nodes.each do |node| %>
  <a href="/nodes/<%= ((@node_path || []) + [node]).map{|n|n.path}.join("/") %>">
    <div class="node-item" style="background-color: #<%= node.color %>; color: #fff;">
      <h2><%= node.name %></h2>
    </div>
  </a>
<% end %>
