<% path = @node_path.map { |node| "/" + node.path }.join("") %>

<% @nodes.each do |node| %>
  <a href="/nodes<%= path + "/" + node.path %>">
    <div class="node-item item-hide" style="background-color: #<%= node.color %>; color: #fff;">
      <h2><%= node.name %></h2>
    </div>
  </a>
<% end %>

<script>
$(function(){
  setTimeout(function(){
    $(".node-item").each(function(){
      $(this).removeClass("item-hide");
      $(this).css("transition-delay", Math.random() / 3.7 + "s");
    });
  }, 0);
});
</script>
