<html>
<head>
  <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/shibuya.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/nodes.css">
  <script src="/javascripts/jquery-2.1.1.min.js"></script>
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">Shibuya <span style="font-size: 70%;">(Prototype)</span></a>
      <ul class="nav">
        <li><a href="/login">Login</a></li>
        <li><a href="/settings">Profile</a></li>
        <li><a href="/favorites">Favs.</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="container" style="padding-top: 42px; width: 80%;">
  <div style="margin-top: 10px;">
<%= yield %>
  </div>
</div>

<div class="navbar navbar-fixed-bottom">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">Shibuya</a>
    </div>
  </div>
</div>
</body>
</html>
