<html>
<head>
  <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-overrides.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/shibuya.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/nodes.css">
  <script src="/javascripts/jquery-2.1.1.min.js"></script>
  <script src="/bootstrap/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=376" />
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">Shibuya <span style="font-size: 70%;">(Prototype)</span></a>
      <ul class="nav">
        <li><a href="/login">Login</a></li>
        <li><a href="/settings">Profile</a></li>
        <li><a href="/favorites">Favs.</a></li>
        <li><a href="/about">About</a></li>
        <% if session[:user_name] != nil %>
          <li> aa <%= session[:user_name] %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="container main-container">
  <div style="margin-top: 10px;">
<%= yield %>
  </div>
</div>

<%= @outer_container.call if @outer_container %>
<div class="navbar navbar-fixed-bottom">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">Shibuya</a>
    </div>
  </div>
</div>
</body>
</html>
