<h2>Login</h2>

<form class="form-signin">
  <div class="control-group">
    <label class="control-label" for="email">Name</label>
    <div class="controls">
      <input type="text" class="input-block-level input-xlarge" placeholder="Email address">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="email">Name</label>
    <div class="controls">
      <input type="password" class="input-block-level input-large" placeholder="Password">
    </div>
  </div>

  <button class="btn btn-primary" type="submit">Sign in</button>
</form>
