.node-item {
  float: left;
  width: 320px;
  height: 320px;
  color: #fff;
  margin: 14px;
  padding: 5px;
  transition-duration: 0.8s;
}
.node-item a {
  color: #fff;
  text-decoration: none;
}

.node-item .edit-btn {
  margin-left: 3px;
}
