.node-item {
  float: left;
  width: 320px;
  height: 320px;
  color: #fff;
  margin: 14px;
  padding: 5px;
  transition-duration: 0.8s;

  a {
    color: #fff;
    text-decoration: none;
  }
  .edit-btn {
    margin-left: 3px;
  }
}

#edit-node-form-modal {
  form {
    margin: 0;
  }
  background-color: #EF64BF;
  width: 360px;
  margin-left: -180px;

  .modal-body {
    background-color: #f4f4f4;
  }
  .modal-footer {
    background-color: inherit;
    padding: 14px 16px 19px;
    .btn-primary {
      background-image: linear-gradient(to bottom,#24b,#32a);
    }
    .btn-primary:hover {
      background-color: #319;
    }
  }

  label {
    width: 120px;
  }
  .form-horizontal .controls {
    margin-left: 144px;
  }
  .edit-node-form-color {
    margin-left: -11px;
  }
}
